/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* =========================1-gallery========================= */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: auto;
  height: 696px;
  justify-content: center;
}

.gallery li {
  flex-basis: calc(33.3333% - 24px);
}

.gallery img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}
.gallery img:hover {
  transform: scale(1.05);
}

/* =========================2-form=========================== */

.login-form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 408px;
}

/* Стилізація для label */
.login-form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Стилізація для input */
.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Стилізація для button */
.login-form button {
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
}

/* Стилізація для button при наведенні */
.login-form button:hover {
  border-radius: 8px;
  background-color: #6c8cff;
}
